@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style-type: none;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

/* header//////////////////// */
.max-w-1140 {
    max-width: 1140px !important;

}

.race {
    font-family: "Racing Sans One", sans-serif;
}

.poppins {
    font-family: "Poppins", sans-serif;
}

.work {
    font-family: "Work Sans", sans-serif;
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    border-radius: 2px;
    background: var(--white);
    transition: all 300ms linear;
    margin-top: 5px;

}

.underline:hover::after {
    width: 100% !important;
}

.cp {
    cursor: pointer;
}

.nav-py {
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav_bg {
    background-color: #FFFFFF0A;
}

.bg-img {
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.gap_4 {
    gap: 4px;
}

.gap-32 {
    gap: 32px;
}

.gap-150 {
    gap: 150px;
}

.nav-btn {
    max-width: 190px;
    padding: 14px 32px;
    border-radius: 60px;
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
    border: none;
    outline: none;
    transition: all 300ms linear;
    border: 1px solid transparent;
}

.nav-btn:hover {
    background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);
    border: 1px solid var(--white);
}

.pt-140 {
    padding-top: 140px;
}

.header-box {
    max-width: 930px;
    border: 1px solid var(--grey);
    border-radius: 16px;
    padding: 20px 40px 24px 40px;
    background: var(--grey2);

}

.mt-65 {
    margin-top: 65px;
}

.gap-24 {
    gap: 24px;
}

.gap-10 {
    gap: 10px;
}

.pt-30 {
    padding-top: 30px;
}

.translate_up {
    transform: rotate(180deg);
}

.input_1 {
    /* max-width: 452px; */
    border-radius: 8px;
    border: 1px solid var(--grey3);
    padding: 12px 0px 11px 10px;
    background: var(--black2);
}

.gap-12 {
    gap: 12px;
}

.input_2 {
    /* max-width: 180px; */
    border-radius: 8px;
    border: 1px solid var(--grey3);
    background: var(--black2);
    padding: 5px 10px 7px 10px;

}

.pt-10 {
    padding-top: 10px;
}

.gap-10 {
    gap: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.gap-30 {
    gap: 30px;
}

.btn-search {
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
    border: 1px solid transparent;
    transition: all 300ms linear;
    max-width: 122px;
    padding: 14px 32px;
    border-radius: 60px;

}

.btn-search:hover {
    background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);
    border: 1px solid var(--white);
}

.mb-60 {
    margin-bottom: 60px;
}

/* Section-2////////////// */
.bg-sec2 {
    background: var(--dark);
    margin-top: -2px;
}

.sec2-py {
    padding-top: 110px;
    padding-bottom: 86px;
}

.sec2-para1 {
    max-width: 509px;
}

.op-80 {
    opacity: 80%;
}

.pt-16 {
    padding-top: 16px;
}

.pt-20 {
    padding-top: 20px;
}

.btn-get {
    max-width: 167px;
    padding: 14px 32px;
    border: 1px solid transparent;
    border-radius: 60px;
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
    transition: all 300ms linear;
    margin-top: 40px;
}

.btn-get:hover {
    background: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);
    border: 1px solid var(--white);
}

.max-546 {
    max-width: 546px;
}

.elipse1 {
    bottom: 0;
    left: 0;
    z-index: 0;
}

.elipse2 {
    top: 0;
    right: 0;
    z-index: 0;
}

.gap-22 {
    gap: 22px;
}

/* SECTION-3///////////////// */
.sec-3-box {
    max-width: 253px;
    padding: 10px 28px;
    border-radius: 42px;
    backdrop-filter: blur(5px);
    background: var(--blur);
    position: absolute;
    top: 12px;
    left: 12px;
    opacity: 0;
    transition: all 300ms linear;
}

.op_1:hover .sec-3-box {
    opacity: 1;
}

.zoom {
    transition: all 300ms linear;

}

.b_r {
    border-radius: 13px;
}

.op_1:hover .zoom {
    transform: scale(1.1);
}

.py-sec-3 {
    padding-top: 106px;
    padding-bottom: 160px;
}

.pt-22 {
    padding-top: 22px;
}

.p-t-22 {
    padding-top: 22px;
}

.elipse3 {
    position: absolute;
    left: 0%;
    top: -20%;
}

/* SECTION-4/////////////////// */
/* slider1////////// */
.slider1-card1 {
    max-width: 367px;
    background: var(--blue2);
    border-radius: 13px;
}

.br_13 {
    border-radius: 13px 13px 0px 0px;
    min-height: 271px;
}

.zoom2 {
    transition: all 300ms linear;
}

.slider1-card1:hover .zoom2 {
    transform: scale(1.2);
}

.slider-50 {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 123px;
    border-radius: 42px;
    padding: 10px 28px;
    background: var(--blur);
    backdrop-filter: blur(8px);
}

.padding-card-1 {
    padding: 16px 20px 21px 20px;
}

.gap-11 {
    gap: 11px;
}

.gap_6 {
    gap: 6px;
}

.card_para1 {
    max-width: 327px;
    opacity: 90%;
}

.py-slider-1 {
    padding-top: 50px;
    padding-bottom: 40px;
}

.slick-slider {
    margin: 0 -10px;
}

.slick-slide {
    margin-right: 10px;
    margin-left: 10px;
}

.responsive_1.slick-track {
    display: flex !important;
}

.slick-slide {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    height: inherit !important;
}

.slick-slide .div {
    display: flex !important;
}

.slick-dots {
    justify-content: center;
    align-items: center;
    gap: 7px;
    display: flex !important;
}

.responsive_1 .slick-dots li button:before {
    height: 12px;
    width: 28px;
    background-color: var(--white);
    position: absolute;
    left: 50%;
    border-radius: 21px;
    font-size: 0;
    opacity: 1;
}

.responsive_1 .slick-dots li.slick-active button:before {
    width: 59px;
    opacity: 1;
    height: 15px;
    background-color: var(--blue);
    transform: translateX(-38px);
    opacity: 1;
    top: -5%;
}

.pb_110 {
    padding-bottom: 110px;
}

/* section-5//////////////// */
.bg-img-sec5 {
    background: var(--bg-blue-1);
    background-image: url(../images/sec-5.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.pt-130{
    padding-top: 130px;
}




































@media (min-width:576px) {
    .pt-22 {
        padding-top: 0px;
    }
}

@media (min-width:768px) {
    .p-t-22 {
        padding-top: 0px;
    }
}

@media (min-width:992px) {
    .responsive_1 .slick-dots li.slick-active button:before {
        width: 59px;
        opacity: 1;
        height: 13px;
        background-color: var(--blue);
        transform: translateX(-38px);
        opacity: 1;
        top: 0%;
    }
}

@media (max-width:768px) {
    .over_flow_x {
        overflow-x: scroll;
    }

    .header-box {
        padding: 20px 20px 24px 20px;
        background: var(--grey2);
    }

    .sec2-py {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pt-140 {
        padding-top: 40px;
    }

    .py-sec-3 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pb_110 {
        padding-bottom: 50px;
    }
}


/* navbar////////////////////// */
@media (max-width:991px) {
    .mobile_view {
        position: fixed;
        background: transparent;
        backdrop-filter: blur(25px);
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 500ms ease-in-out;
        z-index: 100;
    }

    .menu {
        z-index: 100;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-17px);
        transition: 300ms linear;
    }

    .gap-150 {
        gap: 30px;
    }

}